<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="copyright" content="深圳市华强北商城商务有限公司版权所有" />
    <meta name="keywords" content="网上购物,网上商城,家电网购,网购,手机,数码,相机,笔记本,电脑,家电,厨卫电器,车载,电玩,MP3/MP4,DV,上网本,华强北" />
    <meta name="description" content="华强北商城(okhqb.com)是专业的手机数码网上购物商城,华强北在线商标官方唯一授权使用单位,产品包括手机,数码,相机,笔记本,电脑,家电,车载用品,MP3/MP4,DV,上网本,电玩近万类,并且每天更新深圳华强北各类手机数码产品最新报价,承诺全场正品低价,及时发货,配送到家,华强北在线竭诚为你提供更优质的服务 ！" />
    <meta name="viewport" content="width=device-width,maximum-scale=2.0, user-scalable=yes" />
    <link rel="shortcut icon" href="http://s.hqbcdn.com/favicon/favicon.ico" />
    <title>购物车-华强北商城</title>

    <link rel="stylesheet" href="/static/home/details/css/base.css"/>
    <link rel="stylesheet" href="/static/home/index/css/public-new.css"/>
    <link rel="stylesheet" href="/static/home/details/css/dialog.css"/>
    <link rel="stylesheet" type="text/css" href="/static/home/details/css/emoji.css"/>
    <!--购物车样式-->
    <link rel="stylesheet" type="text/css" href="/static/home/cart/css/tradeCart-1.0.0.css"/>

    <script type="text/javascript" src="/static/home/index/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/home/index/js/jquery.lazyload.js"></script>

</head>

<body>
    <?php $user = \think\Session::get('user');?>
    <div id="header">
        <div class="headerLayout cfix">
            <div class="header_logo_new">
                <h1 class="logo_new_v2">
                    <a href="/">宅喵商城</a>
                </h1>
            </div>
            <div class="header_search">
                <!-- <ul id="result_lib" class="dropdown_list" style="display: none;"></ul> -->
                <form action="/home/entry/search" name="" id="for_shop" method="get" target="_blank" class="search_fm">
                    <div class="search_input">
                        <input type="hidden">
                        <label class="placeholder" for="search_key" style="display: none;">输入搜索内容~</label>
                        <input type="text" class="search_key" name="sword" value="{:input('sword')}" id="search_key" autocomplete="off">
                        <input type="submit" value="搜索" class="search_btn">
                    </div>
                </form>
            </div>
            <div class="header_extra">
                {if condition="!$user"}
                <p class="unlogin dc-unlogin">
                    <a href="/home/user/login" rel="nofollow" class="nav-bold">登录</a>&nbsp;<i>|</i>
                    &nbsp;<a href="/home/user/reg" rel="nofollow" class="nav-bold">注册</a>
                </p>
                {else/}
                <a href="/home/user/profile" target="_blank" style="height:36px;width:36px;border-radius:50%;overflow: hidden;display: inline-block;margin-left: 10px;">
                    <img id="current_member_avatar" src="/static/home/login/images/member_head.jpg" height="36" width="36">
                </a>
                <a style="display: inline-block;vertical-align: top;margin-top: 10px;margin-left: 10px;" href="/home/user/logout" rel="nofollow">退出</a>
                {/if}
            </div>
        </div>
    </div>
    <style>
        #header {
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
        }
        #header .header_logo_new,
        #header .logo_new_v2 {
            width: 126px;
            height: 37px;
        }
        #header .logo_new_v2 a {
            display: inline-block;
            width: 126px;
            height: 37px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(/static/home/index/images/logo.png);
        }
        #header .header_search {
            display: inline-block;
            height: 37px;
            width: 400px;
            overflow: hidden;
            margin: 0;
            margin-left: 20px;
            padding: 0 10px;
            border: 0;
            border-radius: 100px;
            background-color: #f5f5f5;
        }
        #header .header_extra {
            width: 230px;
            height: 37px;
            float: right;
        }
        #header .unlogin.dc-unlogin {
            display: inline-block;
            width: 80px;
            height: 37px;
            font-size: 14px;
            line-height: 37px;
        }
        .header_search .search_btn {
            right: 4px;
            top: 7px;
            width: 23px;
            height: 23px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(/static/home/index/images/search.png);
            background-color: transparent;
        }
    </style>



<input type="hidden" id="isWsale" value="0" />
<div id="cart-wrapper">
    {if condition="count($goodsList)!=0"}
        <!--S 顶部banner -->
        <div class="cart-box cart-banner">
            <div class="cart-top-nav">
                <span class="car-top-nav01 cart-top-on">加入购物车</span>
                <span class="car-top-nav02">确认订单信息</span>
                <span class="car-top-nav03">成功提交订单</span>
            </div>
        </div>
    {else/}
        <!--如果购物车为空则显示“购物车为空去购买的图片”-->
        <div class="cart-box cart-main">
            <div class="cart-null"><a href="/"></a></div>
        </div>
    {/if}

    <!--S 主要列表内容 -->

    <div class="cart-box cart-main">
        {if condition="count($goodsList)!=0"}
            <input id="_freeFreight" type="hidden" value="79">
            <input id="_freightFee" type="hidden" value="6">
            <input id="_memberId" type="hidden" value="2002092958">
            <table class="cart-list-nav">
                <tr class="first-tr">
                    <th class="title-goods">商品</th>
                    <th class="title-price">单价</th>
                    <th class="title-counts">数量</th>
                    <th class="title-total">小计</th>
                    <th class="title-action">操作</th>
                </tr>
            </table>

            <table class="cart-list">
                <colgroup  class="title-goods" /><colgroup  class="title-price"/><colgroup  class="title-counts"/><colgroup  class="title-total"/><colgroup  class="title-action"/>
                {foreach name="goodsList" key="k" item="v"}
                <tr sid="{$k}">
                    <td>
                        <div class="td-select">
                            <!--<input class="check_goods" type="checkbox" checked="checked" value="1003630992" name="cartId" style="cursor: pointer;">-->
                        </div>
                        <div class="td-pic">
                            <a target="_blank" href=" http://www.okhqb.com/item/1000123398.html">
                                <img class="thumb" width="60" height="60" title="Apple/苹果 iPhone 7 HK 海淘手机" src="{$v['thumb']}">
                            </a>
                        </div>
                        <div class="td-info">
                            <p><a href="http://www.okhqb.com/item/1000123398.html" target="_blank">{$v.name}</a></p>
                            <label>
                                {foreach $v['options'] as $o}
                                    {$o}
                                {/foreach}
                            </label>
                            <div class="stateDetail">
                                <div class="goodsStateTip">
                                    <span>16点前完成下单，最迟8月22日21点前发货</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="td-price-p">&yen;<i class="td-price">{$v.price}</i><br/>
                            <span class="tm-icon">特价</span>
                        </p>
                    </td>
                    <td>
                        <div class="plus_minus">
                            <span class="cou_btn minus">―</span>
                            <input type="text" value="{$v.num}" name="quantity" class="count counts" id="_num_1003630992" readonly />
                            <span class="cou_btn plus">+</span>
                            <div class="re_tips">库存紧张</div>
                        </div>
                    </td>
                    <td>
                        <p class="td-total-p">&yen;<b class="td-total">{$v.total}</b></p>
                    </td>

                    <td>
                        <!--删除商品按钮-->
                        <div class="del_parent">
                            <a href="javascript:;" class="td-del" onclick="delSinge()"></a>
                            <div class="del_tips">
                                <p class="tips_arrow"><span class="tips_angle">◆</span><span class="tips_angle2">◆</span></p>
                                <p class="del_warn">删掉的商品可能会被别人抢走哦~要删除吗？</p>
                                <p class="cfix"><span data="1003630992" class="ok_del">确定</span><span class="can_del">取消</span></p>
                            </div>
                        </div>
                    </td>
                </tr>
                {/foreach}
            </table>

            <div class="by-box">
                <i>运费</i> <b class="by-tips">本单免运费</b>
            </div>


            <!--S 结算 -->
            <div class="total-section">
                <div class="total-sec-bottom">
                    <div class="total-tips">
                        <a href="/" target="_blank">继续购物>></a>
                        <p>共
                            <span><b class="total-count">{$total['rows']}</b></span>件商品，
                            邮费<span>&yen;&nbsp;<b class="total-yf">0</b>&nbsp;</span>
                            商品应付总额：<span>&yen;&nbsp;<b class="total-sum">{$total['cost']}</b></span></p>
                    </div>
                    <a class="total-pay" href="/home/order/confirm" style="border: 1px solid #ccc;text-decoration: none">立即结算</a>
                </div>
            </div>
            <!--E 结算 -->
        {/if}


        <!-- S 浏览记录 -->
        <div class="sp-history">
            <div class="sp-history-title">
                <a href="javascript:void(0);" class="sp-look sp-title-btn sp-title-on" data-id="look">商品浏览记录</a>
            </div>
            <div class="sp-history-content">
                <!-- S 浏览过的 -->
                <div class="sp-history-slider sp-history-look">
                    <span class="sp-left-look sp-slider-btn"></span>
                    <span class="sp-right-look sp-slider-btn"></span>
                    <div class="sp-slider-box">
                        <ul class="sp-slider-look">
                            <li>
                                {volist name="$viewGoods" id="v"}
                                    <div class="sp-slider-item">
                                        <a target="_blank" href="/home/entry/details/gid/{$v.gid}" class="sp-history-pic">
                                            <img class="thumb gthumb" width="100" height="100" src="{$v.list_pic}">
                                        </a>
                                        <p class="sp-slider-tit gid" gid="{$v.gid}"><a href="/home/entry/details/gid/{$v.gid}" class="gtitle">{$v.title}</a></p>
                                        <p class="sp-slider-price gprice" gprice="{$v.shop_price}">&yen;  {$v.shop_price}</p>
                                        <a href="javascript:void(0);" class="sp-slider-buy add-to-cart" >加入购物车</a>
                                        <span style="display: none" class="goodsSort" gsid="{$v['goodsSort']['gsid']}" options="{$v['goodsSort']['property']}"></span>
                                    </div>
                                {/volist}
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- E 浏览过的 -->
            </div>
        </div>
        <!-- //E浏览记录 -->

        <!--E 主要列表内容 -->
    </div>



    <!-- <div class="simple-footer">
        <div class="simple-footer-wrap">
            <div class="copyright">
                Copyright &copy; 2010-2015 深圳市华强北在线商务有限公司 版权所有
                <a target="_blank">京ICP备17034811号-1</a>
                <a rel="nofollow" target="_blank"><img alt="深圳网警" title="深圳网警" src="http://s.hqbcdn.com/assets/v3/images/newindex/foot_icon1_gb.jpg"></a>
                <a rel="nofollow" target="_blank"><img alt="经营许可证" title="增值电信业务经营许可证" src="http://s.hqbcdn.com/assets/v3/images/newindex/foot_icon2_gb.jpg"></a>
                <a rel="nofollow" target="_blank"><img alt="市场监制主体身份认证" title="市场监制主体身份认证" src="http://s.hqbcdn.com//assets/v3/images/newindex/foot_icon3_gb.jpg"></a>
                <a target="_blank" rel="nofollow">
                    <img src="http://s.hqbcdn.com/assets/v3/images/newindex/foot_icon4_gb.jpg" title="电子商务消费者服务站" alt="电子商务消费者服务站"></a>
                <a class="f_link" target="_blank">友情链接</a>
                <a target="_blank" class="s_map">网站地图</a>关注我们：<a target="_blank"><img src="http://s.hqbcdn.com/assets/v3/images/newindex/t_sina_gb.jpg" title="新浪微博" alt="新浪微博"></a>
                <a target="_blank">
                    <img src="http://s.hqbcdn.com/assets/v3/images/newindex/t_qq_gb.jpg" title="腾讯微博" alt="腾讯微博"></a>
            </div>
        </div>
    </div> -->

    <div style="display:none;" id="scrollTop"><a href="javascript:;">&nbsp;</a></div>




    <script type="text/javascript" src="/static/home/details/js/artDialog.js"></script>
    <script type="text/javascript" src="/static/home/details/js/public.min.js"></script>

</body>
<script>
    //删除购物车中的单条商品
    function delSinge() {
        $(".td-del").click(function () {
            $(".del_tips").hide(), $(this).next(".del_tips").stop().attr("show", "true").show().css({top: "100px",opacity: "0"}).animate({top: "70px", opacity: "1"}, 200)
        });

        $(".can_del").click(function () {
            $(this).parents(".del_tips").removeAttr("show").animate({top: "100px", opacity: "0"}, 100).fadeOut(200)
        });

        $(".ok_del").click(function () {
            //var t = $(this).parents("tr"), i = $(this).attr("data"), e = $(this).parents("table");
            $(this).parents(".del_tips").removeAttr("show").hide();
            var obj = $(this).parents('tr');
            var sid = obj.attr('sid');
            $.ajax({
                url:'/home/cart/update',
                type:'POST',
                data:{sid:sid,num:0},
                success:function (phpData) {
                    if(phpData==1){

                        //这里有时间动画效果1000毫秒
                        //后面的代码会立即被解析而这里的动画效果需要时间完成
                        //因此如果后面的代码要在动画执行完成后才执行
                        //则不能直接放在动画代码的后面
                        //而是放在回调函数中（动画执行完成后所执行的回调函数）
                        obj.animate({'opacity':0},1000,function () {
                            obj.remove();//删除该商品的标签

                            //计算新的总商品价格及总商品数
                            var new_total_sum=0;
                            var new_total_count=0;
                            for(var i=0;i<$('.cart-list tr').length;i++){
                                //计算新的总商品价格
                                new_total_sum+= $('.cart-list tr').eq(i).find('.td-total').text()*1;
                                //计算新的总商品数
                                new_total_count+= $('.cart-list tr').eq(i).find('input[name=quantity]').val()*1;
                            }
                            //赋予回新值
                            $('.total-count').text(new_total_count);
                            $('.total-sum').text(new_total_sum);

                            //如果购物车为空则显示提示“购物车为空去购买”
                            if($('.cart-list tr').length==0){
                                var cartNum = '<div class="cart-null"><a href="/"></a></div>';
                                $('.cart-main form').html(cartNum);
                                $('.cart-banner').remove();
                            }
                        });

                    }//if(phpData...)
                }//success:function...
            })//ajax
        });//ok_del
    }//delSingle


        //更改购物车中某商品的数量
        $(".cou_btn").click(function () {
            var obj = $(this).parents('tr');

            //当前商品的sid
            var sid = obj.attr('sid');

            //当前的数量
            var num = obj.find('input[name=quantity]').val()*1;
            //新数量
            //点击+时则数量+1
            if($(this).hasClass('plus')){
                num+=1;
            }else if($(this).hasClass('minus')){
            //点击-时则数量-1
                num = num>1?num-1:num;
            }

            $.ajax({
                url:'/home/cart/update',
                type:'POST',
                data:{sid:sid,num:num},
                success:function (phpData) {
                    if(phpData==1){
                        //对数量赋予新值
                        obj.find('input[name=quantity]').val(num);
                        //计算小计的价格
                        var items_price = obj.find('.td-price').text()*num;
                        //对小计赋予新值
                        obj.find('.td-total').text(items_price);

                        var new_total_sum=0;
                        var new_total_count=0;
                        for(var i=0;i<$('.cart-list tr').length;i++){
                            //计算新的总商品价格
                            new_total_sum+= $('.cart-list tr').eq(i).find('.td-total').text()*1;
                            //计算新的总商品数
                            new_total_count+= $('.cart-list tr').eq(i).find('input[name=quantity]').val()*1;
                        }
                        //赋予回新值
                        $('.total-count').text(new_total_count);
                        $('.total-sum').text(new_total_sum);
                    }
                }
            });

        });
</script>

<script>
    //加入购物车
    $('.add-to-cart').click(function () {
        var obj = $(this);
        var id = obj.parents('.sp-slider-item').find('.gid').attr('gid');
        var gsid = obj.parents('.sp-slider-item').find('.goodsSort').attr('gsid');
        var options = obj.parents('.sp-slider-item').find('.goodsSort').attr('options');
        var price = obj.parents('.sp-slider-item').find('.gprice').attr('gprice');
        var name = obj.parents('.sp-slider-item').find('.gtitle').text();
        var thumb = obj.parents('.sp-slider-item').find('.gthumb').attr('src');
        var num = 1;
        var data = {
            id:id,
            name:name,
            price:price,
            thumb:thumb,
            gsid:gsid,
            options:options,
            num:num
        };
        console.log(data);

        $.ajax({
            url: '/home/cart/add',
            type: "POST",
            data: data,
            success: function (phpData) {
                if(phpData.code==0){
                    alert('请先登录后再操作');
                    return false;
                }
                location.href = '/home/cart/index';
            }
        });

    });
</script>



</html>
