@charset "utf-8";
/* CSS Document */
/*test*/

/* 简单头部 */
.simple {border-bottom:1px solid #e2e7ee}
.simple .headerSimple {padding:15px 0;}
.simple .header_vip{width:280px; height:60px; float:right;}
.simple .header_vip img{border-radius:50%; float:left;}
.simple .header_vip p{ height:20px; margin-left:80px; overflow:hidden; width:120px;}
.simple .header_vip .header_vip_name{margin-top:10px;}
.simple .header_vip .header_vip_counts{color:#e14a34;}

.uc_wrap{ padding:10px 0; /*background:url(/static/common/sprites/main_bg.jpg);*/}
.uc_main1{ width:972px; position:relative; margin:0 auto; background:url(/static/common/sprites/leftbar_bg.jpg) repeat-y #fff; padding:0 4px 10px 4px;; border-width:1px 1px 1px 0; border-style:solid; border-color:#d7d7d7;}

/* 左侧公用菜单 */
/*
.uc_left_sub{ width:177px; float:left;}
.top_bg{ display:block; width:177px; height:4px; top:-4px; left:-4px; background:url(/static/common/sprites/leftbar_t.jpg) no-repeat top; position:relative; }
.bot_bg{ display:block; width:177px; height:4px; bottom:-4px; left:0; background:url(/static/common/sprites/leftbar_b.jpg) no-repeat bottom; position:absolute; }

.sub_box{ width:170px; font-family:"宋体"; margin:0;}
.sub_box dt{ height:23px; padding:10px 0 0 60px; display:block; font-size:14px; color:#fff; font-weight:bold; margin:10px 0; _margin-top:0; background:url(/static/common/sprites/leftbar_icon.jpg) no-repeat #a4bcde;}
.sub_box .icon1{ background-position:30px top;}
.sub_box .icon2{ background-position:30px -33px;}
.sub_box .icon3{ background-position:30px -66px;}
.sub_box dd a{ position:relative; left:10px; padding-left:15px; display:block; height:34px; width:148px; line-height:33px; text-align:left; color:#3e576d; font-size:12px; text-decoration:none;}
.sub_box dd a:hover{ text-decoration:underline; color:#3e576d; }
.sub_box dd a.sub_cur{background:url(/static/common/sprites/sub_a.jpg); color:#306ca8; _margin-bottom:5px;}
*/

/* 右侧主体内容 */
.uc_right_content1{ float:right; width:790px;}

.uc_main {width:1198px; margin-left:auto; margin-right:auto; border:1px solid #d7d7d7; border-left:0; background:url(/static/common/sprites/leftbar_bg.jpg) repeat-y 0 0; }
.uc_main .uc_left_sub {float:left; width:204px; padding:0 1px;}

.uc_main .uc_right_content {float:right; width:980px; padding:0 5px;}

.sub_box {padding-bottom:10px;}
.sub_box dt {height:43px; text-align:center; background:#d9eeff url(/static/common/sprites/dc_hy_icons2.png) no-repeat 30px 12px; font:700 14px/43px "simsun"; color:#0283cc;}
.sub_box dd {position:relative; height:25px; margin-top:1px; padding-left:40px;}
.sub_box dd a {position:absolute; width:130px; height:25px; line-height:25px; padding-left:75px; margin-left:-40px; background:url(/static/common/sprites/leftarr_bg.jpg) no-repeat 90% 48%;}
.sub_box dd.on a, .sub_box dd a:hover {color:#FFF; text-decoration:none; background:#0989f6;}
.sub_box .icon1{background-position:30px -40px;}
.sub_box .icon2{background-position:30px 5px;}
.sub_box .icon3{background-position:30px -80px;}
.sub_box .icon4{background:url(/static/common/sprites/leftbar_xqgc_icon.png) no-repeat 30px center;}
  /*增加的会员中心*/
.member_center_dl{padding:0;}
.member_center_dl a{color:#0283cc; text-decoration:none;}
.sub_box .icon5{background:#fff url(/static/common/sprites/left_member_center.png) no-repeat 30px center; height:52px; line-height:52px; margin:0;border-bottom:0;}
.sub_box .icon6{background: url(/static/common/sprites/dc_hy.png) no-repeat 30px center; height:52px; line-height:52px; margin:0; border-bottom:0;}
.sub_box .icon6:hover{background:#1a6aef url(/static/common/sprites/dc_hy2.png) no-repeat 25px center;}
.sub_box .icon6 a{display:block; height:100%; width:100%;}

.sub_box .new_icon{height:40px; line-height:40px; background-color:#d9eeff ;}
.sub_box .new_icon a{height:40px; line-height:40px;}
.sub_box .icon7{background:url(/static/common/sprites/dc_hy_icon.png) no-repeat 30px 5px; color:#444444; font-weight:700;}
.sub_box .icon8{background:url(/static/common/sprites/dc_hy_icon.png) no-repeat 30px -25px;color:#444444; font-weight:700;}
.sub_box .icon9{background:url(/static/common/sprites/dc_hy_icon.png) no-repeat 30px -68px;color:#444444; font-weight:700;}
.sub_box .icon8-on{background:#0989f6 url(/static/common/sprites/dc_hy_icon3.png) no-repeat 30px -25px; font-weight:700; color:#FFF;}
.sub_box .icon9-on{background:#0989f6 url(/static/common/sprites/dc_hy_icon3.png) no-repeat 30px -68px;font-weight:700; color:#FFF;}

.sub_box .icon7:hover{background:#0989f6 url(/static/common/sprites/dc_hy_icon3.png) no-repeat 30px 5px;}
.sub_box .icon8:hover{background:#0989f6 url(/static/common/sprites/dc_hy_icon3.png) no-repeat 30px -25px; }
.sub_box .icon9:hover{background:#0989f6 url(/static/common/sprites/dc_hy_icon3.png) no-repeat 30px -68px; }

/* 位置导航 */
.sec-crumb{ padding:10px 0; border-bottom:1px solid #ebebeb;}
.sec-crumb .sec-tab{*zoom:1; height:31px;background-position:left -930px; border:none;}
#hqb-panel .main-wrap #main-content:after, #baobei-list .item-container:after, .faq-list:after, .sec-tab:after, .hqb-notice .sec ul:after{content:'\0020'; display:block; height:0; clear:both;}
.sec-tab li{float:left; height:31px;line-height:31px; color:#666; font-family:SimSun}
.sec-tab li.now-addr{ padding-left:15px;}
.sec-tab li a{padding:0 0 0 5px; display:block; height:31px; line-height:31px; background-position:0 2px; float:left; cursor:default;}
.sec-tab li span.gt{line-height:31px; font-family:"新宋体"; padding:0 5px;}
.sec-tab li span a:hover{text-decoration:none;}
.sec-tab li span a{font-size:12px; color:#666; padding:0 5px; line-height:31px;}
.sec-tab li .arrow{visibility:hidden; position:absolute; width:7px; left:45%; background-position:-163px -49px; *font-size:0; bottom:-2px; height:5px;}
.sec-tab li.selected span a{color:#3675b8}
.sec-tab li.selected .arrow{visibility:visible; background-position:-165px -111px;}


/* 右侧选项卡 */
.content_tab{ height:33px; background:#f5f6f8; border-bottom:solid 1px #0482cc; margin-top:5px; position:relative;}
.content_tab li{ float:left; margin-right:5px;}
.content_tab li a{height:32px; font-size:14px; text-align:center; line-height:32px; display:inline-block; background:#fff; border-width:1px 1px 0 1px; border-style:solid; border-color:#cacfd2; padding:0 20px;}
.content_tab li.bing-yhq-li{ float:right;}
.content_tab .bing-yhq-li a{ border:none; background:none;color:#206EEF;}
.content_tab li a.no_cur{height:32px; cursor:auto; font-size:14px; text-align:center; line-height:32px; font-weight:bold; color:#fff; display:inline-block; background:#0482cc; border-width:1px 1px 0 1px; border-style:solid; border-color:#0482cc; padding:0 20px;}
.content_tab li a:hover{ text-decoration:none;}
.content_tab a.more_c{ color:#1F72F4;} 
.content_tab li a.on_cur{border-color:#0482cc; background:#0482cc; color:#fff; font-weight:bold;}
.content_tab .help{ position:absolute; height:33px; line-height:33px; right:8px;}
.content_tab .help a{ color:#1F72F4;}
.content_tab .help em{color:#999; padding:0 5px;}
.content_tab .help img{ vertical-align:middle;}

.main_content table colgroup col{display: table-column;}
.main_content table thead{ border:solid 1px #e3eaf0;}
.main_content table thead tr th{ text-align:center; border-right:solid 1px #fff; background:#e3eaf0; color:#676566; height:26px; font-weight:normal; margin-right:1px;}

.main_content .con_tip{ padding:10px 0;}

/* 订单列表 */
.main_content table .order_list td{ border-style:solid; border-color:#e3e3e3; border-width:1px 0 1px 1px;}
.main_content table .order_list tr.order_num td{ height:28px; background:#f4f4f4; border-right:solid 1px #e3e3e3; color:#676566;}
.main_content table .order_list tr.order_num td{ border-bottom:solid 1px #e3e3e3;}
.main_content table .order_list tr.order_num td span.order-num{ margin-right:70px; padding-left:10px;}
.main_content table .order_list tr.order_num td span.order-num a{ color:#1172d9;}
.order-item td{ padding:15px 5px; text-align:center;}
.order_list .order-item td.bor_r{ border-right:solid 1px #e3e3e3;}
.order-item a{ color:#1f72f4;}
.order-item p{ line-height:20px;}
.order-item .info_pic,.order-item .info_title{ float:left; text-align:left;}
.order-item .info_pic a{ display:block; width:62px; height:62px;}
.order-item .info_pic a img{ width:62px; height:62px; overflow:hidden;}
.order-item .info_title{ width:200px; padding-left:10px;}
.order-item .info_title .link_blue{ width:16em; display:block; overflow:hidden; height:24px; line-height:24px;}
.gtxt{ color:#a2a2a2;}
.gtxt2{ color:#666;}
.order-item .info_title p{ margin-top:5px;}
.order-item .info_title p .mart{ margin-right:25px;}
.order-item p.o_price{ text-decoration:line-through; margin-bottom:5px;}
.order-item p.or_pr{ color:#f63e4a; font-family:Arial; font-weight:bold;}
.order-item p.youhuiquan{ color:#ca706f; position:relative;}
.youhui_icon{position: relative;*zoom:1;z-index:2;display:inline-block; line-height:16px; vertical-align: middle;text-align:center; padding:1px 3px; color:#fff; background:#fea201;}
.youhuiquan .youhui_icon{z-index:auto;}
.order-item a.goto_charge{ width:83px; height:24px; display:block; line-height:24px; text-align:center; color:#fff; font-weight:bold; background:url(/static/common/sprites/mybtn.png) left -60px no-repeat; margin:0 auto 5px auto; }
.order-item a.goto_charge:hover{ text-decoration:none; color:#fff;}
.operations{ background:#f9f9f9; border-color:#e4e4e4; border-style:solid; border-width:1px 0 1px 0; padding:15px 0; margin:7px 0;}
.vili_status{padding-left:20px; height:20px; line-height:20px; background:url(/static/common/sprites/loading.gif) left 2px no-repeat; display:none; margin-top:5px;}
.order-item a.uc_comment{ width:83px; height:24px; display:block; line-height:24px; text-align:center; color:#fff; font-weight:bold; background:url(/static/common/sprites/mybtn.png) left -84px no-repeat; margin:0 auto 5px auto;}

.order-item .order-insurance {height:22px; line-height:22px;}
.order-insurance a.mod-insurance {float:left; margin-right:5px; color:#333;}
.order-insurance .mod-insurance i {float:left; width:22px; height:22px; margin-right:10px;}
.order-insurance .mod-insurance i img{display: block;}
/*标识调货 现货*/
.order_list .stateInfo{position: relative;*zoom:1;}
.order_list .stateDetail,.goods_info .stateDetail{position: relative;*zoom:1;margin:4px 0;}
.order_list .zp-p-span,.goods_info .zp-p-span{position: relative;*zoom:1;display:inline-block;line-height: 16px;vertical-align: middle; padding:1px 3px; background-color:#fd2b4d; color:#fff; cursor:pointer;z-index:2;}
.zp-p-span .triangle,.youhui_icon .triangle{position: absolute;left:50%;bottom:-8px;margin-left:-8px;display: inline-block;display: none;*zoom:1;width:15px;height:8px;background: url(/static/common/sprites/yushou.png) -236px -36px no-repeat;}
.order_list .goodsStateTip,.goods_info .goodsStateTip{display: none;position:absolute;left:0;bottom:-33px;*zoom:1;width:320px;margin-top:7px;z-index:1;}
.goodsStateTip span{float:left;padding:3px 5px;border:1px solid #cbcccb;background: #fffae7;color:#ff2848;border-radius:5px;}


/* 公用按钮样式 */
.yell_btn{ width:83px; height:24px; display:inline-block; line-height:24px; text-align:center; color:#fff; font-weight:bold; background:url(/static/common/sprites/mybtn.png) left -60px no-repeat; margin:0 auto 5px auto; }
.yell_btn:hover{ text-decoration:none; color:#fff;}

/* 退换货列表 */
.txt-info{ padding-left:5px;}
.txt-info .txt_title{ width:20em; overflow:hidden;}

/* 取消订单弹出层 */
.cancelOrder{ display:none;}
#cancel_reasons{ display:none; margin-top:20px; width:270px; height:80px; border-style:solid; border-width:1px; border-color:#ccc #ebebeb #ebebeb #ccc; resize:none; overflow-y:hidden;}
.cancel_order{ position:relative; padding-bottom:20px;}
.cancel_order p{ line-height:30px; height:30px; margin-bottom:10px;}
.cancel_order .cancel_reason{ position:relative;}
.re_tips{ display:none; position:absolute; left:0; _bottom:25px; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px 0 0 0; width:160px; overflow:hidden; height:22px; line-height:22px; text-align:center; background:#fef2f2; border:solid 1px #f1c3c3;}

/* 账号信息 */
.info_main{ color:#666; padding:0 25px; border-top:solid 1px #EBEBEB; margin-top:8px; padding-top:8px;}
.info_main h3{ padding-left:30px; font-size:14px; margin:20px 0 10px 0;}
.info_all{ padding-left:30px;}
.info_all li{ padding:10px 0;}
.info_all .info_title,.safetyInfo .sititle{ font-weight:bold;}
.info_all p{ padding:10px 0;}

.info_all p .pwState{ font-weight:bold; color:#fe0002;}
.info_all p .updatePW{ color:#0f70db; background:url(/static/common/sprites/pwicon.gif) no-repeat 0 5px; padding-left:12px; margin-left:40px;}
.info_form{ padding-left:0px; display:none;}
.info_form table td{ padding:7px 0;}
.info_form .reVerifiy{ border-top:1px #999 solid;border-left:1px #999 solid;border-right:1px #ccc solid;border-bottom:1px #ccc solid; width:210px; height:28px;}
.save_info{ display:block; width:60px; height:24px; line-height:22px; text-align:center; color:#fff; font-weight:bold; background:url(/static/common/sprites/mybtn.png) no-repeat 0 -180px;}
.save_info:hover{ text-decoration:none;  color:#fff;}
#save_info{ background:url(/static/common/sprites/mybtn.png) no-repeat 0 -180px; width:60px; height:24px; border:0; font-weight:bold; color:#fff; font-size:12px; line-height:24px; display:block; text-align:center; margin-left:40px; cursor:pointer;}
a.small-btn:hover{ text-decoration:none;}

.safetyInfo{ border-top:1px #eaeaea solid; padding:25px 30px; margin-top:40px;}
.safetyInfo .sititle{ padding-bottom:20px; width:100%;}
.emailBind .eb_title{ background:url(/static/common/sprites/yz_yx.gif) no-repeat 0 5px; padding:5px 0 5px 25px;}
.mobileBind .mb_title{ background:url(/static/common/sprites/yz_sj.gif) no-repeat 0 2px; padding:5px 0 5px 15px;}
.emailBind{ width:245px;}
.mobileBind{ margin:20px 0 0 96px;}
.eb_title .revalidate,.mb_title .rebind{ color:#1170de; font-family:"新宋体"; margin-left:50px; cursor:pointer;}

.emailBind .eb_con .curemail_1{ background:#f7f7f7;border:1px #e8e8e8 solid; padding:25px 0; line-height:22px; margin-top:10px; text-align:center;}
.emailBind .eb_con .curemail_1 a{ color:#106fdb;}
.mobileBind .mb_con .curmobile_1{ padding:5px 0 5px 15px; margin-top:10px; }
.mb_con .curmobile_1 td{ padding:5px;}
.mobileBind .mb_con .curmobile_1 span{vertical-align:top;}
.mobilecard,.validatecard,#_email,#_password,#_mobile{height:28px;border-top:1px #999 solid;border-left:1px #999 solid;border-right:1px #ccc solid;border-bottom:1px #ccc solid;}
#_email,#_password,#_mobile{ width:180px; padding-left:5px;}
.mobilecard{ width:160px;}
.validatecard{ width:110px;}
.curmobile_1 .sendcardbtn{ display:block;width:90px; height:24px; line-height:22px;_line-height:26px; overflow:hidden; text-align:center; color:#fff; font-weight:bold;}
.curmobile_1 .blue_sendcard{background:url(/static/common/sprites/mybtn.png) no-repeat 0 -132px;}
.curmobile_1 .grey_sendcard{background:url(/static/common/sprites/mybtn.png) no-repeat 0 -156px;}
.curmobile_1 .bindbtn{ display:inline-block; width:83px; height:24px; line-height:22px;_line-height:26px; overflow:hidden;text-align:center; color:#fff; font-weight:bold;}
.curmobile_1 .blue_bindbtn{background:url(/static/common/sprites/mybtn.png) no-repeat 0 -84px;}
.curmobile_1 .grey_bindbtn{background:url(/static/common/sprites/mybtn.png) no-repeat 0 -108px;}
.curmobile_1 .sendcardbtn:hover,.curmobile_1 .bindbtn:hover{ text-decoration:none; color:#fff;}

.emailBind .eb_con .curemail_2{ padding:5px 0 5px 25px;}
.mobileBind .mb_con .curmobile_2{ padding:5px 0 5px 15px;}
/*message_box*/
.message_box .box_con{padding:40px 0 25px 0; padding-left:100px; color:#333;}
.message_box .box_con .con_info{padding-left:10px;}
.message_box .box_con .con_info p{  font-size:16px; font-weight:bold;}
.message_box .box_con .con_info p em{ color:#1170de; font-size:14px;}
.message_box .box_con .con_info .tip_m{color:#999;margin:10px 0 20px; font-size:12px; font-weight:normal;}
.message_box .box_con .con_info .link{font-size:12px; color:#1e6ffe; font-family:Simsun;}
.message_box .gray_box{padding-left:100px;border-top:1px solid #ddd;color:#666;}
.info_main .message_box .gray_box p{ line-height:24px;}
.message_box .gray_box .long-btn{margin-left:5px;  color:#1e6ffe;}
/* bind mobile */
.resend_mob{ color:#999;}
.resend_mob_yes{ color:#1170DE; cursor:pointer;}
.resend_info{ display:none;}
/* rebind mobile */
.safety_level_phone{ margin-top:0px; border-top:solid 1px #ebebeb;}
.safety_level_phone .get_oldcode{background:url("/static/common/sprites/mybtn.png") no-repeat 0 -132px transparent; font-size:12px; font-weight:bold; padding-bottom:3px; cursor:pointer; color:#fff; border:none; width:90px; height:24px;}
.safety_level_phone .get_oldcode_none{background:url("/static/common/sprites/mybtn.png") no-repeat 0 -156px transparent; font-size:12px; font-weight:bold; padding-bottom:3px; color:#fff; border:none; width:90px; height:24px;}
/*.checking_list{border-bottom:2px solid #e3e2de;}
.checking_list li{float:left;background:url(/static/common/sprites/num_list.png) no-repeat;padding:0 5px 0 40px;margin-right:40px;height:32px;line-height:32px;color:#636363;font-size:16px;font-weight:bold;font-family:'Microsoft YaHei'}
.checking_list li.now_cur{color:#f60;}
.checking_list li.list1{background-position:0 -41px;}
.checking_list li.list2{background-position:0 -121px;}
.checking_list li.list3{background-position:0 -201px;}
.checking_list li.cur1{background-position:0 -1px;}
.checking_list li.cur2{background-position:0 -81px;}
.checking_list li.cur3{background-position:0 -161px;}*/
.checking_mes{position: relative;*zoom:1;width:700px;margin:20px auto 60px auto;}
.checking_mes .my_phone span{margin-right:10px;}
.checking_mes .my_phone{color:#333;margin-bottom:15px;}
.checking_mes p{color:#777; line-height:22px;}
.checking_mes p strong{color:#d00;}
.mobcode_in{margin:20px auto; width:600px;}
.mobcode_in .old_mobcode{width:4em; height:24px;}
.mobcode_in .vali_oldmob{ color:#fff; margin-left:15px; float:left;}
.mobcode_in .vali_newmob{ color:#fff; margin-left:15px; float:left;}
.mobcode_in .vali_oldmob:hover{ text-decoration:none;}
.mobcode_in .vali_newmob:hover{ text-decoration:none;}


/* 新增收货地址 */
.adr_form{ padding:26px 0 26px 80px;}
.adr_form table td{ padding:10px 0;}
.adr_form .normIpt{ border:1px #afafaf solid; width:245px; height:28px; line-height:28px; padding-left:5px;}
.adr_form .clsfocus{ border:1px #879bb4 solid;background:#f4f9ff;}
.adr_form select{border:1px #afafaf solid; padding:2px;}
.asterisk{ color:#e20100; display:inline-block; padding-right:5px;}
.adr_form .small-btn{ background:url(/static/common/sprites/mybtn.png) no-repeat 0 -180px; width:60px; height:24px; border:0; font-weight:bold; color:#fff; font-size:12px; line-height:24px; display:block; text-align:center;}
.content_tab .add_nu{ text-align:right; padding-top:10px;padding-right:10px; color:#646567;}
.item-list{ padding-top:13px;}
.item-list a{ color:#1f6eff;}
.item-list table th,.item-list table td{ text-align:center;}
.item-list table .cur_tr td{ background:#fff9ef;}
.item-list table th{ font-weight:normal; color:#045278; background:#e8f0f3; padding:8px 0;}
.item-list table td{ border-bottom:1px #e9e9e9 solid; padding:24px 5px; vertical-align:top;}
.addr_default{ display:none;}

/*手机充值*/
.tb_recharge{ line-height:24px; padding:20px 0; color:#6b6b6b;}
.tb_recharge table td{ padding:10px 5px;}
.textcard{ border:1px #ccc solid; color:#333; padding-left:0.5em; background:url(/static/common/sprites/dot_bg.png) repeat-x; width:243px; height:28px; line-height:24px; font-size:14px; font-weight:bold;}
.tb_recharge .in_cur{ background:url(/static/common/sprites/dot_bg.png) repeat-x #f4f9ff; border-color:#879bb4;}
.tb_recharge select{ color:#333; border:1px #ccc solid; padding:4px; width:120px; font-size:14px; font-weight:bold;}
.kindly_reminder{ border:1px #f9e6c5 solid; background:#fff6e7; width:90%; display:block; text-indent:20%; margin:20px auto; padding:5px 0;}
.tb_recharge .price{ font-weight:bold; font-size:12px;}
.tb_recharge .price em{font-size:14px;}
.tb_recharge .lastprice{ font-size:12px;}
.tb_recharge .lastprice em{color:#d00; font-size:22px;}
.tb_recharge .againcard,.tb_recharge .mobilecard{ position:absolute; left:5px; top:0;*top:3px;top:2px\0;_top:5px;display:block;color:#ccc;}
.tb_recharge #activate{ color:#1f6efe;}
.tb_recharge #giftcard{ vertical-align:-2px; cursor:pointer;}
.tb_recharge #recharge_submit{ width:104px; height:30px; display:block; line-height:30px; text-align:center; color:#fff; font-size:14px; font-weight:bold; background:url(/static/common/sprites/mybtn.png) left -30px no-repeat;}
.tb_recharge #recharge_submit:hover{ text-decoration:none; color:#fff;}
.cardstyle{display:none;}

/*激活礼品卡弹出*/
.alert_jihuo{ display:none;}
.act_card{ padding:10px; font-size:12px;}
.act_card h2{ font-size:12px; font-weight:normal; line-height:18px; margin-bottom:10px;}
.act_card li{ line-height:30px; height:30px; clear:both; float:none; margin-bottom:10px; }
.act_card li label{ float:left; text-align:right; width:60px;}
.act_card li span{ float:left;}
.txt_border{ border:1px #ccc solid; color:#333; padding-left:0.5em; background:url(/static/common/sprites/dot_bg.png) repeat-x; width:auto; height:28px; line-height:24px; font-size:14px; font-weight:bold;}
.act1{ width:200px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; height:28px; line-height:28px; padding-left:3px;}
.act2{ width:100px; height:28px; line-height:28px; vertical-align:middle; padding-left:3px;}
.act_btns{ padding-left:60px; display:none;}
.act_btns input{ width:70px; height:26px; border:none; cursor:pointer; line-height:26px; margin-right:10px;}
.actv{ background:url(/static/common/sprites/array_btn.png) no-repeat left -51px;}
.canc{ background:url(/static/common/sprites/array_btn.png) no-repeat left -77px;}
.checkImg{ color:#1f6dff; text-decoration:none;}
.checkImg:hover{ color:#1f6dff; text-decoration:underline;}
.codeTips{ color:#FF0000; padding-top:10px; line-height:0px; margin:0; display:none;}
.card_error {background: url(/static/common/sprites/error.png) no-repeat scroll 5px 3px #fef2f2; width:190px; border: 1px solid #f1c3c3; color: #666; display: none; padding: 4px 5px; *padding:5px 5px 4px 5px; text-indent: 25px; margin: 10px 0 2px 60px;}

/* 我的优惠券 */
.coupons_null{ padding:15px 0; text-align:center; background:#f9f9f9; border-style:solid; border-color:#e4e4e4; border-width:1px 0;}
.coupon_list{ border-bottom:solid 1px #e4e4e4;}
.coupon_list td{ text-align:center; border-style:solid; border-color:#e3e3e3; border-width:0 0 1px 1px; padding:15px 5px;}
.coupon_list td.bor_r{ border-right:solid 1px #e3e3e3;}
.coupon_list td.bor_r a{ color:#1F72F4; margin-right:5px; }
.content_tab .more_c{ position:absolute; right:5px; top:10px;}
.order-item input.sel_all{ float:left; display:block; vertical-align:middle; margin:5px 15px 0 8px; *margin-left:3px;}
.order-item input#del_all{ display:block; cursor:pointer; width:60px; height:24px; color:#fff; font-weight:bold; border:none; float:left; background:url(/static/common/sprites/mybtn.png) no-repeat 0 -180px;}
/* 分享到微博 */
.share_div {position:relative; z-index:999;}
.t_i_dialog {box-shadow:1px 1px 3px #ccc; margin:0;padding:0;width:400px; *width:410px; text-align:left; background:#fff;position:absolute;right:80px;top:0;z-index:9000;}
.t_i_dialog .i_title {padding:0 5px 0 10px; height:34px; line-height:34px; background:#1B91EB;}
.t_i_dialog .i_title h6 {float:left; margin:0; padding:0; line-height:34px; color:#fff; font-size:12px; font-weight:bold;}
.t_i_dialog .i_title span#i_close {float:right; width:34px; height:34px; font-size:0; cursor:pointer; display:inline-block;}
.t_i_dialog .i_title span#i_close a {margin:0; padding:0; width:34px; height:34px; font-size:30px; color:#fff; text-align:center; cursor:pointer; display:inline-block;}
.t_i_dialog .i_title span#i_close a:hover { background:#1377C3; text-decoration:none;}
.t_i_dialog .i_con_c {padding:5px 10px; border:solid 1px #ccc; border-top:none; width:auto; color:#666; overflow:hidden;}
.t_i_dialog .i_con_c p {margin:10px 0; padding:0; height:30px; line-height:30px; display:block; overflow:hidden; color:#666; font-size:12px; display:block;}
.t_i_dialog .i_con_c p .dollar{font-weight:bolder;color:#f60;font-size:14px;}
.t_i_dialog .i_con_c p span a{display:inline-block; font-weight:bold; width:120px; height:30px; line-height:30px; text-align:center; background:url(/static/common/sprites/mybtn.png) no-repeat 0 0; color:#fff; font-size:12px;}

/* 我的礼品卡 */
.gift_card_pre .now_act{ padding:30px 20px;}
.gift_card_pre .now_act .card_btn{background:url("/static/common/sprites/mybtn.png") no-repeat 0 0 transparent; width:116px; height:30px; line-height:30px; text-decoration:none; display:inline-block; color:#fff; font-size:14px; font-weight:bold; text-align:center; margin-left:15px;}
.gift_card_pre .left_ul li{ width:245px; height:80px; background:#f7f7f7; border:solid 1px #e8e8e8; float:left; margin:0 13px; padding:30px 60px; _padding:30px 55px; color:#0080cb; line-height:24px;}
.gift_card_pre .left_ul li h2{ font-size:14px; padding:5px 0; color:#333;}
.gift_card_pre .left_ul li a{ color:#0080cb;}
.gift_card_pre .right_ul{ padding:30px 0 40px 50px;}
.gift_card_pre .right_ul li h2{ font-size:14px; padding:10px 0;}
.gift_card_pre .right_ul li p{ line-height:24px;}
#card_detail{width:700px;}
#card_detail table{width:100%;}
#card_detail table tr{height:31px;}
#card_detail table tr td,#card_detail table tr th{padding-left:10px;}
#card_detail h2{color:#333;font-size:14px;margin-bottom:10px;}
#card_detail strong{color:#22af22;}
#card_detail em{color:#f60;}
#card_detail table td{color:#606060;}
#card_detail tr{border-bottom:1px solid #cbd8e1;}
#card_detail th{background:none;border-bottom:none;}
#card_detail th img{margin-left:10px;}
#card_detail .t_head{color:#333; border:solid #cbd8e1;border-width:1px 0; background:#E5EFF8;}

/* 分页样式 */
.paging{ padding:10px; float:right;}
.paging .numpage{ margin-right:10px; display:inline;}
.paging .numpage a{ height:30px; line-height:30px; display:inline-block; border:1px #CECECE solid; padding:0 12px; color:#7D7D7D; font-weight:bold;}
.paging .numpage a:hover{ border:1px #0096ff solid; color:#0096ff; text-decoration:none;}
.paging .numpage .pagecur{ display:inline-block;height:30px; line-height:30px; background:#999;border:1px #999 solid;padding:0 12px; color:#fff; font-weight:bold;}
.paging .position_page{ height:30px; line-height:30px; }
.paging .position_page .fytxt{display:inline-block;line-height:24px;}
.paging .position_page input{ border:1px #CECECE solid; padding:3px 0 4px; cursor:pointer; width:30px;height:18px;line-height:18px; text-align:center;vertical-align:middle;}
.paging .position_page .pagingbtn{display:inline-block;width:50px;border:1px solid #CECECE;color:#7D7D7D; padding:4px 0;height:16px;line-height:16px; cursor:pointer;text-align:center;}
.paging .position_page .pagingbtn:hover{border:1px #0096ff solid; color:#0096ff;text-decoration:none;}

/* 提示信息 */
.re_tips_charge{ display:none; font-size:12px; margin:0 0 0 10px; padding: 3px 5px 3px 25px; *padding: 4px 5px 2px 25px; text-align:left; background:url(/static/common/sprites/error.png) no-repeat 5px #fef2f2; border:solid 1px #f1c3c3; line-height:14px;}
.vali_feild{ display:none; font-size:12px; margin:0 0 0 10px; padding: 3px 5px 3px 25px; *padding: 4px 5px 2px 25px; text-align:left; background:url(/static/common/sprites/error.png) no-repeat 5px; line-height:16px;}

/*账号安全*/
/*修改密码*/
#modify_password{ padding-left:25px;}
#modify_password .pwImg{display:inline-block; width:135px; height:10px; margin-right:10px;  overflow:hidden; vertical-align:middle;}
#modify_password .pwImg1{ background:url(/static/common/sprites/pwimg.jpg) no-repeat 0 0;}
#modify_password .pwImg2{ background:url(/static/common/sprites/pwimg.jpg) no-repeat 0 -10px;}
#modify_password .pwImg3{ background:url(/static/common/sprites/pwimg.jpg) no-repeat 0 -20px;}
/*账号安全首页*/
.safe_main{ font-family:SimSun; font-size:12px; color:#aaa8b1; }
.safe_main ul{border-top:1px solid #ebebeb;}
.safe_main ul li{ padding:37px 26px; border-bottom:1px solid #ebebeb;}
.safe_main ul li b{ color:#838383; font-size:18px; margin:0 60px 0 30px;}
.safe_main ul li a{ display:inline-block; float:right; width:80px; height:24px; line-height:24px; text-align:center; text-decoration:none; margin-top:5px;}
.safe_main ul li .verify_bg{ background:url(/static/common/sprites/ucenter_btns.png) no-repeat; color:#ffffff;}
.safe_main ul li .edit_info{ color:#0096ff;  }
.safe_main ul li .warm_tips{ color:#dd1919; font-family:SimSun;}
.safe_main ul li .veriTips{ color:#929292; }
.safe_main ul li .veriTips b{ color:#676767; font-size:12px; margin:0;}
.safe_main .safe_tips{ display:inline-block; background:url(/static/common/sprites/safe_tips.png) no-repeat 0 0; width:31px; height:24px; position:relative; top:3px;  }
.safe_main .unsafe_tips{ display:inline-block; background:url(/static/common/sprites/safe_tips.png) no-repeat 0 -28px; width:29px; height:24px;position:relative; top:5px; }


/*rebind mobile*/
.checking_list { margin:0 0 0 5px; border-bottom:solid 1px #ebebeb; padding:30px 0 30px 89px;}
.checking_list .check_process_bg{ background:url(/static/common/sprites/verify_process.png) no-repeat; width:550px; height:30px; margin-left:6px; margin-bottom:5px;  }
.checking_list .check_process_first{background-position: -10px 0px;}
.checking_list .check_process_second{ background-position: -10px -30px;}
.checking_list .check_process_third{ background-position: -10px -60px; }
.checking_list ul li{ float:left;}
.checking_list .proOver{ color:#0096ff;}

.idenCheckForm{ padding-top:20px;}
.idenCheckForm ul {  float: left; height: 30px; margin: 0px 15px 25px 0; vertical-align: middle; width: 680px;}
.idenCheckForm ul  li	{float: left; height: 30px; line-height: 30px;  vertical-align: middle;}
.idenCheckForm .fontN{ color: #333333;  font-size: 12px;  margin-right: 5px;text-align: right; width: 96px;}
.idenCheckForm li.input{   color: #333333; position: relative;text-align: left;  vertical-align: middle;width: 420px; z-index: 10;}
.idenCheckForm li.input input{ border: 1px solid #C9C8C8; color: #333333;  height: 18px; line-height: 28px;padding: 5px; text-align: left; vertical-align: middle; width: 185px;}
.idenCheckForm  .yanzheng li.input{ width:570px;}
.idenCheckForm  .yanzheng li.input input{ vertical-align:top;}
.form_submit .veri_submit{background: url("/static/common/sprites/ucenter_btns.png") no-repeat scroll 0 -24px rgba(0, 0, 0, 0);
 color: #FFFFFF; display: block;font-weight: bold; height: 30px;line-height: 30px; text-align: center; width: 91px; margin-left:96px; border:none; cursor:pointer;}
 
.checking_mes .veriSuc{background: url("/static/common/sprites/verify_suc.png") no-repeat; height:63px; margin:50px 0 0 150px; padding-left:90px; padding-top:0px;}
.checking_mes .veriSuc p{ color:#000000; font-weight:bold; font-size:16px; line-height:40px;}

/*bind email*/
.bindEmail_box .bindEmail{border: 1px solid #C9C8C8;
    color: #333333;
    height: 18px;
    line-height: 28px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    width: 185px;}
.bindEmail_box .emailBindBtn{background: url("/static/common/sprites/ucenter_btns.png") no-repeat scroll 0 -24px rgba(0, 0, 0, 0);
 color: #FFFFFF; display: block;font-weight: bold; height: 30px;line-height: 30px; text-align: center; width: 91px; margin-left:0px; margin-top:20px; border:none; display:inline-block; cursor:pointer; padding:0; }

/*modify bind email*/
.modify_bind_email .modify_email { border: 1px solid #C9C8C8;
    color: #333333;
    height: 18px;
    line-height: 28px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    width: 185px;}
.modify_bind_email .emailBindBtn{ background: url("/static/common/sprites/ucenter_btns.png") no-repeat scroll 0 -24px rgba(0, 0, 0, 0);
    border: medium none;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-left: 0px;
	 margin-top:20px;
    text-align: center;
    width: 91px; cursor:pointer; padding:0;}

.aStyle{ color:#1170de; font-size:12px; display:inline-block;}
.input_disabled{ background-color:#f5f5f5; color:#5a5a5a;}
