{extend name="common/user"}

{block name="js-header"}
<!--<script type="text/javascript" src="/static/home/addressList/js/address.min.js"></script>-->
{/block}
{block name="content"}
<div class="sec-crumb">
    <ul class="sec-tab cfix">
        <li class="now-addr">现在的位置：</li>
        <li><span><a href="/home/user/addressList">个人中心</a></span><span class="gt">&gt;</span></li>
        <li class="selected"><span><a>修改密码</a></span></li>
    </ul>
</div>

<div class="content_tab">
    <ul>
        <li><a class="no_cur">修改密码</a></li>
    </ul>
</div>
<div class="adr_form">
    <form id="changePwdForm" action="" method="POST">

        <?php
            $error = think\Session::get('changPwdError');
            if ($error):
        ?>
            <div class="alert alert-danger">
                <p class="errorMsg"><strong>{$error}</strong></p>
            </div>
        <?php endif;?>

        <style>
            .alert-danger {
                color: #a94442;
                background-color: #f2dede;
                padding: 10px;
                margin-bottom: 10px;
                margin-left: 50px;
                border: 1px solid transparent;
                border-radius: 4px;
                width: 40%;
                position: relative;
            }
            .alert-danger .errorMsg{
                line-height: 20px;
                padding-left: 10px;
            }
        </style>

        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td align="right"><b class="asterisk">*</b>旧密码：</td>
                <td>
                    <input id="consignee" name="o-password" class="normIpt clsfocus" value="" maxlength="15" type="password"/><span class="re_tips_charge"></span>
                </td>
            </tr>

            <tr>
                <td align="right"><b class="asterisk">*</b>输入新密码：</td>
                <td>
                    <input type="password" name="password" id="address" class="normIpt" value=""/><span class="re_tips_charge"></span>

                </td>
            </tr>

            <tr>
                <td align="right"><b class="asterisk">*</b>确认新密码：</td>
                <td>
                    <input id="mobile" name="password_confirm" class="normIpt clsfocus" value="" type="password"/><span class="re_tips_charge"></span>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <button id="add_button" class="small-btn">保存</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
{/block}
