<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="copyright" content="深圳市华强北商城商务有限公司版权所有" />
    <meta name="keywords" content="网上购物,网上商城,家电网购,网购,手机,数码,相机,笔记本,电脑,家电,厨卫电器,车载,电玩,MP3/MP4,DV,上网本,华强北" />
    <meta name="description" content="华强北商城(okhqb.com)是专业的手机数码网上购物商城,华强北在线商标官方唯一授权使用单位,产品包括手机,数码,相机,笔记本,电脑,家电,车载用品,MP3/MP4,DV,上网本,电玩近万类,并且每天更新深圳华强北各类手机数码产品最新报价,承诺全场正品低价,及时发货,配送到家,华强北在线竭诚为你提供更优质的服务 ！" />
    <link rel="shortcut icon" href="http://s.hqbcdn.com/favicon/favicon.ico" />
    <title>会员中心 - 华强北商城</title>
    <link rel="stylesheet" href="http://s2.hqbcdn.com/??assets/v4/css/base.css,assets/v4/css/public-new.css,lib/dialog/skins/dialog.css?t=20141015" />        	<link rel="stylesheet" type="text/css" href="http://s.hqbcdn.com/assets/v4/css/emoji.css?t=20140902" />
    <link rel="stylesheet" type="text/css" href="http://s.hqbcdn.com/??assets/v1/css/ucenter/index.css,assets/v3/css/member/member.css?t=20140807" />

    <script type="text/javascript">
        <!--
        var assetsServer = "http://s.hqbcdn.com";
        var myServer = "http://my.okhqb.com";
        var wwwServer = "http://www.okhqb.com";
        var canvasServer = "http://canvas.okhqb.com";
        var mobileServer = "http://m.okhqb.com";
        var loginServer = "http://login.okhqb.com";
        var imServer = "http://im.okhqb.com";
        var assets0Server = "http://s0.hqbcdn.com";
        var assets1Server = "http://s1.hqbcdn.com";
        var assets2Server = "http://s2.hqbcdn.com";
        var xServer= "http://x.okhqb.com";
        //-->
    </script>
    <script type="text/javascript" src="http://s.hqbcdn.com/??lib/jquery/jquery-1.7.2.min.js,lib/jquery/jquery.lazyload.js?t=20140423"></script>
    <script type="text/javascript" src="http://s2.hqbcdn.com/??build/assets/v3/script/member/member.min.js?t=20150205"></script>
    <!--[if IE 6]>
    <script src="http://s.hqbcdn.com/lib/jquery/DD_belatedPNG.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
</head>

<body>
<!-- toolbar 工具条 -->
<div id="toolbar-bg">
    <div class="toolbar">
        <div class="toolbar-left">
            <p class="unlogin dc-unlogin"><a href="http://login.okhqb.com/member/login.html" rel="nofollow" class="nav-bold">您好!&nbsp;请登录</a>&nbsp;<i>|</i>&nbsp;<a href="http://login.okhqb.com/member/register.html" rel="nofollow" class="nav-bold" style="color: #686868">注册</a></p>
            <p class="logined dc-logined">
                您好&nbsp;,<a href="http://my.okhqb.com/my/home.html" rel="nofollow" class="nav-bold dc-nav-user" target="_blank">&nbsp;</a>&nbsp;,欢迎来到华强北商城！|&nbsp;
                <a href="http://www.okhqb.com/member/logout.html" rel="nofollow">退出</a>
            </p>
        </div>
        <div class="toolbar-right">
            <ul class="toolbar-right-list">
                <li ><a href="http://my.okhqb.com/my/home.html?utml=member" target="_blank">我的账户</a><i class="list-icon-new"></i>
                    <div class="toolbar-my toolbar-right-box" >
                        <a href="http://my.okhqb.com/my/order.html?utml=oder" target="_blank">我的订单</a>
                        <a href="http://my.okhqb.com/my/point.html?utml=coin" target="_blank">我的小强币</a>
                        <a href="http://my.okhqb.com/my/subscription.html?utml=focus" target="_blank">我的关注</a>
                        <a href="http://my.okhqb.com/my/coupons.html?utml=coupons" target="_blank">我的优惠券</a>
                    </div>
                </li>
                <li class="nav-msg dc-nav-msg ">
                    <a href="http://my.okhqb.com/my/xiaoxi.html" target="_blank">我的消息 <span class="nav-message">0</span></a> <i class="list-icon-new"></i>
                    <div class=" toolbar-right-box toolbar-sub">
                        <div class="msg-list-box" style="display: block"><p style="margin-bottom:10px;line-heihgt:50px;text-align:center;left:0px;">暂无消息</p></div>
                    </div>
                </li>
                <li>
                    <a href="http://www.okhqb.com/help/index/1_70.html?utml=help" target="_blank">客户服务</a><i class="list-icon-new"></i>
                    <div class="toolbar-service toolbar-right-box">
                        <a class="toolbar-tel" href="javascript:void(0);">客服热线：0755-88698888</a>
                        <div class="kffw" style="width: 160px"><a class="service" href="javascript:void(0)">在线客服</a>
                            <a href="http://www.okhqb.com/help/index/1000000066_1000000136.html?utml=souhou;" class="okhqb-phone">售后服务</a>
                            <a href="javascript:void(0);" class="okhqb_feed">意见反馈</a></div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);" target="_blank">关注我们</a><i class="list-icon-new"></i>
                    <div class=" toolbar-right-box toolbar-focus">
                        <a class="ios" href="javascript:void(0)">IOS客户端</a>
                        <a class="android" href="javascript:void(0)">安卓客户端</a>
                        <a class="wx" href="javascript:void(0)">官方微信</a>
                        <a class="wb" href="http://weibo.com/hqb360"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 简洁头部 -->
<div id="header" class="simple">
    <div class="wrap headerSimple cfix">
        <div class="header_logo">
            <h1 class="logo">
                <a href="http://www.okhqb.com">华强北商城</a>
            </h1>
            <span class="header_freight">全场运费5元，满59元包邮</span>
        </div>
        <div class="header_vip">
            <a href="http://my.okhqb.com/my_photo.html" target="_blank">
                <img  id="current_member_avatar" src="" height="60" width="60" />
            </a>
            <p id="current_member_nickanme" class="header_vip_name">/p>
            <p>小强币:<b id="point_msg" class="header_vip_counts"></b></p>
        </div>
    </div>
</div>
<!-- 简洁头部 End -->

<script type="text/javascript">
    $(document).ready(function(){

        var _mytoken = $('#mytoken').val() || '';
        $.ajax({
            type: "get",
            url : 'http://my.okhqb.com/my/getMemberInfoInIndex.json',
            data: {'_hqb_token':_mytoken},
            dataType : "jsonp",
            jsonp: 'callback',
            success: function(d){
                if(d.code == 200){
                    $('#current_member_nickanme').html(d.data.nickname);

                    var openInnerTest=d.data.openInnerTest;
                    var totalPoint=d.data.point;
                    if(totalPoint<0){
                        totalPoint=0;
                    }
                    if(openInnerTest){
                        var innerTestMember=d.data.innerTestMember;
                        if(innerTestMember){
                            $("#point_msg").html('<em id="current_member_point">'+totalPoint+'</em>') ;
                        }
                    }else{
                        $("#point_msg").html('<em id="current_member_point">'+totalPoint+'</em>')
                    }
                    if(d.data.avatar!=""){
                        $('#current_member_avatar').attr("src",'http://img1.hqbcdn.com/images/memberpic/'+d.data.avatar);
                    }else{
                        $('#current_member_avatar').attr("src",
                            'http://s1.hqbcdn.com/assets/v3/images/member/member_head.jpg');
                    }



                }else{
                }
                var _newtoken = d.formToken || '';
            }
        });
        $('.member_center_dt').hover(function(){
            $(this).removeClass('icon5').addClass('icon6');
        },function(){
            $(this).removeClass('icon6').addClass('icon5');
        });
    });


</script>
<div style="text-align:center;"><a href="/" title="微信二维码" target="_blank"><img src="http://img11.hqbcdn.com/activity/f5/09/f50985d98f310c29fda07e220ae5c753.jpg" alt="微信二维码" width="1200" height="240" style="vertical-align:bottom;"></a></div>


<div class="uc_wrap">
    <div class="uc_main cfix">

        <div class="uc_right_content uc_right_gb">
            <!--S 用户信息-->
            <div class="user_info">
                <div class="user_info_left">
                    <h3 class="u_blod">xchenhao</h3>
                    <p class="grade"><i class="vip_grade">

                    </i>
                        <i class="v-grade">[V0会员]</i>

                        再获得 22 经验值即可升级为V1会员
                        <a href="http://www.okhqb.com/help/index/9_1000000151.html" target="_blank" class="v-help"></a>
                    </p>
                    <p>手机：未填写<a href="http://my.okhqb.com/my/updateAccountInfo.html" target="_self" class="blue_link">完善信息</a></p>

                    <p>邮箱：                chenhao_apple@163.com
                        <i>已验证</i>
                    </p>
                    <ul class="u_list">
                        <li class="first_li">
                            <h3 class="u_blod">小强币<i>100小强币=1元</i></h3>
                            <p class="u_points"><a href="http://my.okhqb.com/my/point.html" target="_self"> 0 </a></p>
                        </li>
                        <li class="u_middle">
                            <h3 class="u_blod">小强卡</h3>
                            <p><a href="http://my.okhqb.com/my/giftcard.html" target="_self">0</a></p>
                            <a href="http://my.okhqb.com/my/giftcard.html" target="_self">查看</a>
                        </li>
                        <li>
                            <h3 class="u_blod">优惠券</h3>
                            <p><a href="http://my.okhqb.com/my/coupons.html" target="_self">0</a></p>
                            <a href="http://my.okhqb.com/my/coupons.html" target="_self">查看</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!--E 用户信息-->
            <!--S 第二层-->
            <div class="section1">
                <div class="sec_msg">
                    <p class="sec_tit"><span class="my_msg">我的消息</span><a href="http://my.okhqb.com/my/xiaoxi.html" target="_self" class="order_link">未读消息</a><i class="msg_count">0</i><a href="http://my.okhqb.com/my/xiaoxi.html" target="_self" class="all_msg">全部消息>></a></p>
                    <ul>
                        <!-- 消息为空时显示这一块 去掉上面ul那一块-->
                        <p class="msg_none">亲，欢迎来到华强北商城，这里有小强商场，快去看看吧</p>

                    </ul>

                </div>
            </div>
            <!--E 第二层-->
            <!--S 第三层-->
            <div class="section2">
                <div class="sec_order">
                    <p class="sec_tit"><span class="my_msg">我的订单</span><a href="http://my.okhqb.com/my/order.html?status=WAIT_BUYER_PAY" target="_self" class="order_link">待付款</a><i class="msg_count">1</i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://my.okhqb.com/my/order.html?statusArray=WAIT_BUYER_CONFIRM_GOODS,TRADE_FINISHED" target="_self" class="order_link">待评价</a><i class="msg_count">0</i><a href="http://my.okhqb.com/my/order.html" target="_self" class="all_msg">全部订单>></a></p>
                    <table class="od_table">


                        <tr>
                            <th class="od_num">订单编号</th>
                            <th class="od_date">下单日期</th>
                            <th class="od_ower">收货人</th>
                            <th class="od_sum">总金额</th>
                            <th class="od_status">状态</th>
                        </tr>
                        <tr>
                            <td><a href="http://my.okhqb.com/my/order/show.html?tradeSn=150331716208017" target="_blank">150331716208017</a></td>
                            <td>2017-08-21</td>
                            <td>陈浩</td>
                            <td>￥3799.00</td>
                            <td>
                                未付款
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://my.okhqb.com/my/order/show.html?tradeSn=150295093454781" target="_blank">150295093454781</a></td>
                            <td>2017-08-17</td>
                            <td>陈浩</td>
                            <td>￥4666.00</td>
                            <td>
                                交易关闭
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <!--E 第三层-->
        </div>
        <!--E 右侧内容-->

        <!-- 左侧公用菜单 -->
        <div class="uc_left_sub">
            <dl class="sub_box">
                <dt class="icon3">购物/订单</dt>
                <dd><a href="/home/cart/index" title="购物车">我的购物车</a></dd>
                <dd><a href="/home/order/lists" title="我的订单">我的订单</a></dd>
            </dl>

            <dl class="sub_box">
                <dt class="icon3">个人中心</dt>
                <dd><a href="/home/address/lists" title="购物车">收货地址</a></dd>
                <dd><a href="" title="我的订单">账户管理</a></dd>
            </dl>
        </div>
        <!-- 左侧公用菜单 end -->

        <span class="bot_bg"></span>
        <!--shaidan-->
        <!--shaidan-->
    </div>
</div>
<div class="simple-footer">
    <div class="simple-footer-wrap">
        <div class="copyright">
            Copyright &copy; 2010-2015 深圳市华强北在线商务有限公司 版权所有 <a target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备12050212号-1</a>
            <a href="http://www.sznet110.gov.cn" rel="nofollow" target="_blank"><img alt="深圳网警" title="深圳网警" src="http://s.hqbcdn.com/assets/v3/images/newindex/foot_icon1_gb.jpg"></a>
            <a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank"><img alt="经营许可证" title="增值电信业务经营许可证" src="http://s.hqbcdn.com/assets/v3/images/newindex/foot_icon2_gb.jpg"></a>
            <a href="http://www.ebs.gov.cn/EntCertificate.aspx?mainId=bc682492-860c-4d99-9130-b66ab75bcbf2" rel="nofollow" target="_blank"><img alt="市场监制主体身份认证" title="市场监制主体身份认证" src="http://s.hqbcdn.com//assets/v3/images/newindex/foot_icon3_gb.jpg"></a>
            <a target="_blank" rel="nofollow" href="http://www.szscjg.gov.cn/">
                <img src="http://s.hqbcdn.com/assets/v3/images/newindex/foot_icon4_gb.jpg" title="电子商务消费者服务站" alt="电子商务消费者服务站"></a>
            <a class="f_link" href="http://www.okhqb.com/link" target="_blank">友情链接</a>
            <a href="http://www.okhqb.com/sitemap.html" target="_blank" class="s_map">网站地图</a>关注我们：<a href="http://e.weibo.com/hqb360" target="_blank"><img src="http://s.hqbcdn.com/assets/v3/images/newindex/t_sina_gb.jpg" title="新浪微博" alt="新浪微博"></a>
            <a href="http://e.t.qq.com/okhqbokhqb" target="_blank">
                <img src="http://s.hqbcdn.com/assets/v3/images/newindex/t_qq_gb.jpg" title="腾讯微博" alt="腾讯微博"></a>
        </div>
    </div>
</div>

<div style="display:none;" id="scrollTop"><a href="javascript:;">&nbsp;</a></div>


<script type="text/javascript" src="http://s2.hqbcdn.com/??build/assets/v4/script/login.auth.min.js?t=20150205"></script>
<div style="margin:0; text-align: center;height:14px;
 line-height:14px; color:#FFFFFF; font-size:12px;">canvas_12</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-30148206-1', 'okhqb.com');
    ga('set', 'UA-30148206-1',  {'userId': '2002092958'});
    ga('send', 'pageview');
</script>

<script type="text/javascript">
    var _mvq = window._mvq || [];
    window._mvq = _mvq;
    _mvq.push(['$setAccount', 'm-354-1']);
    _mvq.push(['$logConversion']);
    (function() {
        var mvl = document.createElement('script');
        mvl.type = 'text/javascript'; mvl.async = true;
        mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(mvl, s);
    })();
</script>

<script type="text/javascript">
    var _mvq = _mvq || [];
    _mvq.push(['$setAccount', 'm-211723-0']);
    _mvq.push(['$logConversion']);
    (function() {
        var mvl = document.createElement('script');
        mvl.type = 'text/javascript'; mvl.async = true;
        mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(mvl, s);
    })();
</script>

<script type="text/javascript" src="http://s.hqbcdn.com/??lib/jquery/jquery.cookie.js,lib/dialog/artDialog.js?t=20140423"></script>
<script type="text/javascript" src="http://s.hqbcdn.com/??build/assets/v4/script/public.min.js?t=20150205"></script>
<script  type="text/javascript">
    (function() {
        var s = document.createElement('script');
        var sparentNode =  document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = 'true';
        s.src = 'http://a.okhqb.com/plus/ok.js?t=20140624';
        if(sparentNode)sparentNode.parentNode.insertBefore(s,sparentNode);
    })();
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "http://hm.baidu.com/hm.js?5251b1b3df8c7fd322ea256727293cf0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript" src="http://s.hqbcdn.com/??build/assets/v2/script/analysis.min.js?t=20150205"></script>
<script type="text/javascript" src="http://s.hqbcdn.com/??lib/OKHQB/sign/sign.js?t=20140730"></script>

<noscript>
    <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1000098639/?value=0&amp;label=LJ36CNGSggQQz5bx3AM&amp;guid=ON&amp;script=0"/></div>
</noscript></body>
</html>