<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="copyright" content=""/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,maximum-scale=2.0, user-scalable=yes"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>确认订单 - 宅喵商城</title>

    <link rel="stylesheet" type="text/css" href="/static/home/order/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/home/index/css/public-new.css">
    <link rel="stylesheet" type="text/css" href="/static/home/order/css/dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/home/order/css/emoji.css">
    <link rel="stylesheet" href="/static/home/order/css/tradeOrder-1.0.0.css"/>

    <script type="text/javascript" src="/static/home/order/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/home/order/js/jquery.lazyload.js"></script>


</head>

<body>
  <?php $user = \think\Session::get('user');?>
  <div id="header">
      <div class="headerLayout cfix">
          <div class="header_logo_new">
              <h1 class="logo_new_v2">
                  <a href="/">宅喵商城</a>
              </h1>
          </div>
          <div class="header_search">
              <!-- <ul id="result_lib" class="dropdown_list" style="display: none;"></ul> -->
              <form action="/home/entry/search" name="" id="for_shop" method="get" target="_blank" class="search_fm">
                  <div class="search_input">
                      <input type="hidden">
                      <label class="placeholder" for="search_key" style="display: none;">输入搜索内容~</label>
                      <input type="text" class="search_key" name="sword" value="{:input('sword')}" id="search_key" autocomplete="off">
                      <input type="submit" value="搜索" class="search_btn">
                  </div>
              </form>
          </div>
          <div class="header_extra">
              {if condition="!$user"}
              <p class="unlogin dc-unlogin">
                  <a href="/home/user/login" rel="nofollow" class="nav-bold">登录</a>&nbsp;<i>|</i>
                  &nbsp;<a href="/home/user/reg" rel="nofollow" class="nav-bold">注册</a>
              </p>
              {else/}
              <a href="/home/user/profile" target="_blank" style="height:36px;width:36px;border-radius:50%;overflow: hidden;display: inline-block;margin-left: 10px;">
                  <img id="current_member_avatar" src="/static/home/login/images/member_head.jpg" height="36" width="36">
              </a>
              <a style="display: inline-block;vertical-align: top;margin-top: 10px;margin-left: 10px;" href="/home/user/logout" rel="nofollow">退出</a>
              {/if}
          </div>
      </div>
  </div>
  <style>
      #header {
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      }
      #header .header_logo_new,
      #header .logo_new_v2 {
          width: 126px;
          height: 37px;
      }
      #header .logo_new_v2 a {
          display: inline-block;
          width: 126px;
          height: 37px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(/static/home/index/images/logo.png);
      }
      #header .header_search {
          display: inline-block;
          height: 37px;
          width: 400px;
          overflow: hidden;
          margin: 0;
          margin-left: 20px;
          padding: 0 10px;
          border: 0;
          border-radius: 100px;
          background-color: #f5f5f5;
      }
      #header .header_extra {
          width: 230px;
          height: 37px;
          float: right;
      }
      #header .unlogin.dc-unlogin {
          display: inline-block;
          width: 80px;
          height: 37px;
          font-size: 14px;
          line-height: 37px;
      }
      .header_search .search_btn {
          right: 4px;
          top: 7px;
          width: 23px;
          height: 23px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(/static/home/index/images/search.png);
          background-color: transparent;
      }
  </style>
<div id="order-wrapper">
    <!--S header -->
    <div class="order-box order-banner">
        <div class="order-top-nav">
            <span class="order-top-nav01">加入购物车</span>
            <span class="order-top-nav02 order-top-on">确认订单信息</span>
            <span class="order-top-nav03">成功提交订单</span>
        </div>
    </div>
    <!--E header -->
    <!--S main -->
    <form action="" method="post" target="_blank" id="order-form" autocomplete="off">
        <div class="order-box order-main">
            <!-- S 地址选择 -->
            <div class="order-address">
                <h3>1.地址选择</h3>
                <div class="address-content">
                    <ul class="address-list">
                        {foreach name="$addressData" item="v"}
                            <li address-id="{$v.id}" {if condition="$v.is_default"}class="address-default"{/if}>
                                <p class="address-p1"><i class="u-name">{$v.recipient}</i> <i class="u-phone">{$v.phone}</i></p>
                                <p class="address-p2">
                                    <span class="province">{$v.address}</span>
                                </p>
                            </li>
                        {/foreach}
                    </ul>
                    <div class="address-all-show"></div>
                </div>
            </div>
            <script>
                $(function () {
                    $('.address-content .address-list li').click(function () {
                        var addressId = $(this).attr('address-id');
                        $('input[name=address_id]').val(addressId);
                    })
                });
            </script>
            <!-- E 地址选择 -->

            <!-- S 商品清单 -->
            <div class="order-lists">
                <h3>2.商品清单<a href="/home/cart/index">返回购物车修改>></a></h3>
                <div class="order-lists-wrapper">
                    <div class="order-lists-sp">
                        <table class="lists-nav">
                            <tr>
                                <th class="sec-t1" colspan="2">商品</th>
                                <th class="sec-t2">单价</th>
                                <th class="sec-t3">数量</th>
                                <th class="sec-t4">小计</th>
                            </tr>
                        </table>

                        <table>
                            <!-- S 有保险  -->
                            {foreach name="goodsList" item="v"}
                                <tr>
                                    <td class="sec-c1">
                                        <div class="sec-items">
                                            <img width="100" height="100" src="{$v.thumb}" class="sec-items-pic"/>
                                            <p class="sec-items-t1" style="width: 65%">
                                                <a href="/home/entry/details/gid/{$v.id}" target="_blank">{$v.name}</a>
                                            </p>
                                            <p class="sec-items-t2">
                                                <label>
                                                    {foreach name="$v.options" item="o"}
                                                        {$o}
                                                    {/foreach}
                                                </label>
                                            </p>
                                            <!--S 有赠品时 -->
                                            <div class="stateInfo" style="visibility: hidden">
                                                <span class="zp-p-span">赠品v</span>
                                                <div class="zp-lists">
                                                    <p class="tips_arrow"><span class="tips_angle">◆</span><span
                                                            class="tips_angle2">◆</span></p>
                                                    <ul>
                                                        <li>j-case/杰克仕 清系列 超薄TPU防摔保护壳</li>
                                                        <li>AMC 晶盾内缩版 半屏高清钢化玻璃膜</li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <!--E 有赠品时 -->
                                        </div>
                                    </td>
                                    <td class="sec-c2"></td>
                                    <td class="sec-c3">&yen;{$v.price}<br/>
                                        <i class="sec-tj">特价 </i>
                                    </td>
                                    <td class="sec-c4">x{$v.num}</td>
                                    <td class="sec-c5">&yen;{$v.total}</td>
                                    <input type="hidden" name="goods_sort_id[]" value="{$v.gsid}">
                                    <input type="hidden" name="num[]" value="{$v.num}">
                                    <input type="hidden" name="total_sub_price[]" value="{$v.total}">
                                </tr>
                            {/foreach}
                        </table>
                            <!-- S 套餐 -->

                    </div>
                    <!-- S 总金额  -->
                    <div class="order-total">
                        <div class="order-total-nav">
                            <div class="order-total-right">
                                商品总金额:<span>&yen;<i class="order-totals">{$total['cost']}</i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-lists">
                    <!-- E 总金额  -->
                    <!-- S 收货信息 -->
                    <h3>3.确认订单</h3>
                    <div class="order-info">

                        <div class="order-info-left">
                            <h4>收货信息</h4>
                            <input type="hidden" name="address_id" value="{$addressData[0]['id']}"/>

                            <div class="order-info-addres">
                                <p>{$addressData[0]['recipient']}&nbsp;&nbsp;&nbsp;&nbsp;{$addressData[0]['phone']}</p>
                                <p>
                                    <span class="province">{$addressData[0]['address']}</span>
                                    <a href="#order-wrapper" class="address-mody-att">修改</a>
                                </p>
                            </div>

                            <p class="order-messge">订单留言</p>
                            <p><textarea name="memo" class="message" maxlength="100"></textarea></p>

                        </div>
                        <div class="order-info-right">
                            <div class="order-price">

                                <p class="pay-yh-space">&nbsp;</p>
                                <p class="pay-xqk-space">&nbsp;</p>
                                <p class="order-sun-p">商品总价：<span>&yen;<i class="pay-fina">{$total['cost']}</i></span></p>
                                <p class="pay-yf-p">运费：<span>&yen;<i class="pay-yf">0.00</i></span></p>
                                <p>总金额：<span>&yen;<i class="pay-total">{$total['cost']}</i></span></p>

                            </div>
                            <div class="order-btns">
                                <p class="order-btns-fenqi"><i>您还需支付：</i><span><b>&yen;{$total['cost']}</b></span></p>
                                <input type="hidden" name="totol_price" value="{$total['cost']}">
                                <input type="submit" value="提交订单" id="order-submit"/>
                            </div>
                        </div>
                    </div>
                    <!-- E 收货信息 -->
                </div>
            </div>
            <!-- E 商品清单 -->

        </div>
        <!--E main -->
    </form>
</div>
<!--E footer -->


<div style="display:none;" id="scrollTop"><a href="javascript:;">&nbsp;</a></div>


<div style="margin:0; text-align: center;height:14px;line-height:14px; color:#FFFFFF; font-size:12px;">canvas_12</div>


<!--<script type="text/javascript" src="/static/home/order/js/login.auth.min.js"></script>-->
<!--<script type="text/javascript" src="/static/home/order/js/jquery.cookie.js"></script>-->
<script type="text/javascript" src="/static/home/order/js/artDialog.js"></script>
<script type="text/javascript" src="/static/home/order/js/public.min.js"></script>

<!--<script type="text/javascript" src="/static/home/order/js/sign.js"></script>-->
<!--<script type="text/javascript" src="/static/home/order/js/analysis.min.js"></script>-->
<script type="text/javascript" src="/static/home/order/js/order-1.0.0.min.js"></script>


</body>
</html>
