{extend name="common/master"}
{block name="title"}<title>加入我们</title>{/block}


{block name="css"}
<link rel="stylesheet" type="text/css" href="/static/home/join/css/join.css"/>
{/block}

{block name="content"}
<div class="content">
  <div class="step">
    <ul class="step-list">
      <li style="height: 78px;"><div class="step-title"><strong>入驻申请</strong></div></li>
      <li><div class="step-bar">part1</div></li>
      <li><div class="vline vl1"></div></li>
      <li><div class="step-bar">part2</div></li>
      <li><div class="vline vl2"></div></li>
      <li><div class="step-bar">part3</div></li>
      <li><div class="vline vl3">初审通过</div></li>
      <li><div class="step-bar">part4</div></li>
      <li><div class="vline vl4">审核通过</div></li>
      <li><div class="step-bar">part5</div></li>
      <li><div class="vline vl5"></div></li>
      <li><div class="step-bar">part6</div></li>
      <li><div class="vline vl6">审核通过</div></li>
      <li><div class="step-bar">part7</div></li>
    </ul>
  </div>
    <div class="step-content">
    <ul>
      <li class="p1">
        <a class="btn btn-entry" href="/process/">申请入驻</a>
        <strong>官网注册</strong>
        <p>注册宅喵商城账户，登入自营供应商入驻系统</p>
      </li>
      <li class="p2">
        <strong>基本信息填写</strong>
        <p>签署在线协议，提交公司基本信息、财务信息、资质信息、保存并提交。</p>
      </li>
      <li class="p3">
        <strong>招商分配</strong>
        <p>如入驻过程中遇到任何问题，可通过咨询热线与我们联系，也可及时登陆系统查看审核进度。</p>
      </li>
      <li class="p4"><strong>采销审核</strong></li>
      <li class="p5">
        <strong>完善信息</strong>
        <p>补全相关详细信息</p>
      </li>
      <li class="p6">
        <strong>采销再次审核</strong>
        <p>审核通过后，为供应商创建后台管理账号及合同</p>
      </li>
      <li class="p7">
        <strong>很荣幸您已成为我们的供应商。</strong>
      </li>
    </ul>
  </div>
</div>
{/block}
