{extend name="common/master" /}
{block name="content"}

<div class="page-head">
    <span class="h2">商品管理</span>
    <ol class="breadcrumb">
        <li><a href="{:url('user/index')}"><i class="fa-home"></i>后台</a></li>
        <li><a>用户设置</a></li>
        <li class="active">修改密码</li>
    </ol>
</div>

<div class="cl-mcont">

    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">

                <div class="content">

                    <?php
                        $error = think\Session::get('changPwdError');
                        if($error):
                    ?>
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>{$error}</strong>
                    </div>
                    <?php endif;?>

                    <form class="form-horizontal group-border-dashed" action="" method="post" style="border-radius: 0px;">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" disabled name="username" value="{:think\\Session::get('username')}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">旧密码</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="o-password" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">新密码</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="password" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">确认密码</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="password_confirm" placeholder="">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-default" href="{:url('index')}">取消</a>
                                <button type="submit" class="btn btn-primary">确认</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
<style>
    table thead tr th{
        font-weight: 700;
    }
    table tbody tr:nth-of-type(10n+1) {
        background: #dff0d8
    }

    table tbody tr:nth-of-type(10n+3) {
        background: #f5f5f5
    }

    table tbody tr:nth-of-type(10n+5) {
        background: #d9edf7
    }

    table tbody tr:nth-of-type(10n+7) {
        background: #fcf8e3
    }

    table tbody tr:nth-of-type(10n+9) {
        background: #f2dede
    }

    table tbody tr:nth-of-type(2n) {
        background: #fff
    }
</style>
{/block}